#service.index > .price {
    
}
#service.index > .price > section {
    margin: 1rem 0;
}
#service.index > .price > section > p {
    text-align: center;
}
#service.index > .price > section > h3 {
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;
}
#service.index > .price > section > ul > li {
    display: flex;
    align-items: center;
}
#service.index > .price > section > ul > li > h4 {
    width: 15rem;
    text-align: right;
    border-right: 1px solid #00000030;
    padding: 0.5rem 1rem;
    font-weight: 600;
}
#service.index > .price > section > ul > li > p {
    width: 15rem;
    margin-left: 1rem;
}

/*
    Edit
*/
#service.index > section.price > div.price-list > ul {
    display: flex;
    justify-content: center;
    
}
#service.index > section.price > div.price-list > ul > li {
    flex-direction: column;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #e3e8ee;
    box-sizing: border-box;
    width: 15rem;
    margin: 0 0.5rem;
    text-align: center;
    cursor: pointer;
}
#service.index > section.price > div.price-list > ul > li:not(:first-of-type):hover, #service.index > section.price > div.price-list > ul > li.select {
    background-color: var(--base-color);
    color: #fff;
}
#service.index > section.price > div.price-list > ul > li:first-of-type {
    border: none;
    background: none;
    text-align: right;
    width: auto;
    cursor: default;
}
#service.index > section.price > div.price-list > ul > li > h3 {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
}
#service.index > section.price > div.price-list > ul > li > p {
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
}

#service.index > section.price > div.price-list > ul > li:first-of-type > h3 {
    opacity: 0;
}
#service.index > section.price > div.price-list > div {
    text-align: right;
    margin: 0.5rem;
}
#service.index > section.price > div.price-list > div > p {
    font-size: 0.9rem;
    opacity: 0.8;
}

#service.index > section > div.expire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
}
#service.index > section > div.expire > .title {
    text-align: center;
    margin-bottom: 1rem;
}
#service.index > section > div.expire > .title > h2 {
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}
#service.index > section > div.expire > ul {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
#service.index > section > div.expire > ul > li {
    background-color: #fff;
    border: 1px solid #e3e8ee;
    width: 15rem;
    flex-grow: 1;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
#service.index > section > div.expire > ul > li:hover, #service.index > section > div.expire > ul > li.select {
    background-color: var(--base-color);
    color: #ffffff;
}
#service.index > section > div.expire > ul > li > h3 {
    font-size: 1.3rem;
    height: 3rem;
    line-height: 3rem;
    font-weight: 600;
}
#service.index > section > div.expire > ul > li > p {
    margin-bottom: 5px;
}