#product.list  {
    display: flex;
    flex-direction: column;
}
#product.list > section > div > .loader {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--base-color);
    border-bottom-color: #00000000;
}
#product.list > section > div > a {
    all: unset;
    display: flex;
    align-items: center;
    color: #06c;
    margin-top: 1rem;
    cursor: pointer;
}
#product.list > section > div > a > p {
    font-size: 1.1rem;
}
#product.list > section > div > a:hover > p {
    text-decoration: underline;
}
#product.list > section > div > a > i {
    font-size: 1.6rem;
}
#product.list > ul > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    height: 3.4rem;
    transition-duration: 0.3s;
    overflow: hidden;
    cursor: pointer;
}
#product.list > ul > li.remove {
    height: 0;
    opacity: 0;
}
#product.list > ul > li > p {
    width: 10rem;
    font-size: 0.9rem;
    text-align: center;
}
#product.list > ul > li > div {
    display: flex;
    justify-content: center;
    width: 10rem;
}
#product.list > ul > li > div > button, #product.list > ul > li > div > a {
    all: unset;
    opacity: 0.3;
    padding: 0 5px;
    transition-duration: 0.3s;
}
#product.list > ul > li > div > button:hover, #product.list > ul > li > div > a:hover {
    opacity: 1;
    color: var(--base-color);
}
#product.list > ul > li > div > button > i, #product.list > ul > li > div > a > i {
    font-size: 1.3rem;
}
#product.list > ul > li > h4 {
    flex-grow: 1;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}
#product.list > button {
    all: unset;
    margin: 0 auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.5;
    transition-duration: 0.3s;
    cursor: pointer;
}
#product.list > button:hover {
    opacity: 1.0;
}
