section#product-main > article.add {
    
}
section#product-main > article.add > .add-wrapper {
    display: flex;
    width: 100%;
}
section#product-main > article.add > .add-wrapper > div {
    flex-grow: 1;
    width: 50%;
    max-width: 50%;
    height: 24rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #e3e8ee;
    position: relative;
}
section#product-main > article.add > .add-wrapper > div:first-child {
    margin-right: 0rem;
}
section#product-main > article.add > .add-wrapper > div.off {
    visibility: hidden;
}

section#product-main > article.add .title > div {
    display: flex;
    align-items: center;
}
section#product-main > article.add .title > div > div {
    position: relative;
    top: -2px;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
section#product-main > article.add .title > div > .fail {
    background: #ff6347;
    border: none;
}
section#product-main > article.add .title > div > .pass {
    background: #00966B;
    border: none;
}
section#product-main > article.add .title > div > div > i {
    font-size: 1.0rem;
}
section#product-main > article.add .title > div >  h2 {
    font-size: 1.7rem;
}
section#product-main > article.add .title > p {
    color: #555;
}
section#product-main > article.add .url-input-frame {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
section#product-main > article.add .url-input-frame > input {
    all: unset;
    width: 100%;
    border-bottom: 2px solid #ccc;
    padding: 0 0.5rem;
}
section#product-main > article.add .url-input-frame > input:focus {
    border-color: #00966B;
}
section#product-main > article.add .url-input-wrapper {
    position: relative;
    height: 100%;
}
section#product-main > article.add .url-input-wrapper > button {
    all: unset;
    cursor: pointer;
    position: absolute;
    background: #00966B;
    bottom: -0.6rem;
    right: 0;
    color: #ffffff;
    border-radius: 0.4rem;
    margin-left: 1rem;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1.1rem;
}
section#product-main > article.add .url-input-wrapper > p {
    color: #ff6347;    
}

/*
    info input
*/
section#product-main > article.add .info-input-wrapper  {
    
}
section#product-main > article.add .info-input-wrapper > ul {
    margin-top: 0.5rem;
}
section#product-main > article.add .info-input-wrapper > ul > li {
    margin-bottom: 1rem;
}
section#product-main > article.add .info-input-wrapper > ul > li > h3 {
    font-size: 1.4rem;
}
section#product-main > article.add .info-input-wrapper > ul > li > p {
    color: #888;
    font-size: 0.9rem;
}
section#product-main > article.add .info-input-wrapper > ul > li > input {
    all: unset;
    margin-top: 0.5rem;
    border-bottom: 2px solid #ccc;
    padding: 0 0.5rem;
    width: 60%;
    font-size: 1.1rem;
}
section#product-main > article.add .info-input-wrapper > ul > li > input:focus {
    border-color: #00966B;
}
section#product-main > article.add .info-input-wrapper > ul > li > select {
    border: 2px solid #ccc;
    width: 62%;
    margin-top: 0.5rem;
    font-size: 1.0rem;
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
}
section#product-main > article.add .info-input-wrapper > div.save-frame {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section#product-main > article.add .info-input-wrapper > div.save-frame > button {
    all: unset;
    cursor: pointer;
    background: #00966B;
    color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 1.1rem;
}
section#product-main > article.add .info-input-wrapper > div.save-frame > p {
    color: #ff6347;
    margin-right: 0.5rem;
}
/*
    Size Input
*/
section#product-main > article.add > .size-input-frame {
    padding: 1rem;
    background: #ffffff;
    margin: 0 1rem 1rem 1rem;
    border: 1px solid #e3e8ee;
}
section#product-main > article.add > .size-input-frame.off {
    visibility: hidden;
}
section#product-main > article.add > .size-input-frame > .size-input-table {
    overflow: auto;
    padding: 1rem 0;
}
section#product-main > article.add > .size-input-frame table {
    border-collapse: collapse;
    text-align: center;
    margin: 1rem 0;
}
section#product-main > article.add > .size-input-frame table > thead {
    border-bottom: 2px solid #ccc;
    padding: 0.3rem 0;
}
section#product-main > article.add > .size-input-frame table > thead > tr > th {
    padding: 0.3rem 0;
    font-size: 0.95rem;
}
section#product-main > article.add > .size-input-frame table td {
    padding: 0 0.5rem;
}
section#product-main > article.add > .size-input-frame table input {
    all: unset;
    width: 7rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Montserrat';
    border-bottom: 2px solid #ddd;
    padding: 0.3rem 0;
}
section#product-main > article.add > .size-input-frame table input:focus, section#product-main > article.add > .size-input-frame table input.on {
    border-color: #00966B;
}
section#product-main > article.add > .size-input-frame > .size-input-table > p {
    font-size: 1.1rem;
    color: #00000080;
    font-weight: 700;
}
section#product-main > article.add > .size-input-frame > .add > .btn-frame {
    display: flex;
}
section#product-main > article.add > .size-input-frame > .add > .btn-frame > button {
    
    margin-right: 0.3rem;
    width: 3rem;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper {
    display: flex;
    align-items: center;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper > div {
    display: flex;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper > div > button {
    all: unset;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ff6347;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper > div > button > i {
    font-size: 1.7rem;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper > div > button.su {
    background: #00966B;
}
section#product-main > article.add > .size-input-frame > .btn-wrapper > p {
    margin-top: 0.5rem;
    color: #ff6347;
}
section#product-main > article.add > .size-input-frame > .save-frame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section#product-main > article.add > .size-input-frame > .save-frame > p {
    color: #ff6347;
    margin-right: 0.5rem;
    font-weight: 700;
}
section#product-main > article.add > .size-input-frame > .save-frame > .loader-frame {
    margin-right: 0.5rem;
    display: none;
}
section#product-main > article.add > .size-input-frame > .save-frame > .loader-frame.on {
    display: unset;
}
section#product-main > article.add > .size-input-frame > .save-frame > .loader-frame > .loader {
    padding: 0.7rem;
    border: 2px solid #888;
    border-bottom: 2px solid #88888800;
}
section#product-main > article.add > .size-input-frame > .save-frame > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00966B;
    color: #ffffff;
    padding: 0.7rem 1.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
section#product-main > article.add > .size-input-frame > .save-frame > button > p {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    font-weight: 500;
}