#product.search {
    min-height: 100vh;
}
#product.search > nav#search-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 888;
    width: 96%;
}
#product.search > nav#search-wrapper > #input-wrapper {
    display: flex;
    align-items: center;
    height: 4rem;
    z-index: 887;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}
#product.search > nav#search-wrapper > #input-wrapper > div {
    display: flex;
    align-items: center;
}
#product.search > nav#search-wrapper > #input-wrapper > .input-frame {
    flex-grow: 1;
    
}
#product.search > nav#search-wrapper > #input-wrapper > .input-frame > i {
    font-size: 1.7rem;
    padding-left: 4%;
    padding-right: 1rem;
}
#product.search > nav#search-wrapper > #input-wrapper > .input-frame > input {
    all: unset;
    width: 100%;
    margin-right: 2rem;
}
#product.search > nav#search-wrapper > #input-wrapper > .btn-frame {
    height: 100%;
}
#product.search > nav#search-wrapper > #input-wrapper > .btn-frame > button {
    all: unset;
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid #dbdbdb;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 4.5rem;
}
#product.search > nav#search-wrapper > #input-wrapper > .btn-frame > button > p {
    font-size: 1rem;
    font-weight: 500;
    color: #888;
}
#product.search > nav#search-wrapper > #input-wrapper > .btn-frame > button:hover > p, #product.search > nav#search-wrapper > #input-wrapper > .btn-frame > button.active > p {
    color: var(--base-color);
}
#product.search > nav#search-wrapper > #input-wrapper > .btn-frame > button > i {
    color: var(--base-color);
    font-size: 1.5rem;
    margin-left: 1rem;
}
#product.search > nav#search-wrapper > #filter-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0rem;
    z-index: 886;
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    transition-duration: 0.4s;
}
#product.search > nav#search-wrapper > #filter-wrapper.active {
    top: 4rem;
}
#product.search > nav#search-wrapper > #filter-wrapper > li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}
#product.search > nav#search-wrapper > #filter-wrapper > li > h3 {
    text-align: right;
    font-size: 1.0rem;
    font-weight: 400;
    padding: 0 2rem 0 2rem;
    color: #888;
}
#product.search > nav#search-wrapper > #filter-wrapper > li > label {
    display: flex;
    align-items: center;
    border-left: 1px solid #dbdbdb;
    height: 100%;
    flex-grow: 1;
}
#product.search > nav#search-wrapper > #filter-wrapper > li > label > select {
    all: unset;
    flex-grow: 1;
    height: 100%;
    text-align: center;
    line-height: 3.5rem;
    cursor: pointer;
}
#product.search > nav#search-wrapper > #filter-wrapper > li > label > i {
    margin: 0 0.7rem;
    color: var(--base-color);
}
/*
    Result
*/
#product.search > section {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
}
#product.search > section.activeFilter {
    padding-top: 8.5rem;
}
#product.search > section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#product.search > section > div > p {
    padding-top: 10rem;
}
#product.search > section > div > .loader {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--base-color);
    border-bottom-color: #00000000;
}
#product.search > section > div > a {
    all: unset;
    display: flex;
    align-items: center;
    color: #06c;
    margin-top: 1rem;
    cursor: pointer;
}
#product.search > section > div > a > p {
    font-size: 1.1rem;
}
#product.search > section > div > a:hover > p {
    text-decoration: underline;
}
#product.search > section > div > a > i {
    font-size: 1.6rem;
}
#product.search > section > ul > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    height: 3.4rem;
    transition-duration: 0.3s;
    overflow: hidden;
    cursor: pointer;
}
#product.search > section > ul > li.remove {
    height: 0;
    opacity: 0;
}
#product.search > section > ul > li > p {
    width: 10rem;
    font-size: 0.9rem;
    text-align: center;
}
#product.search > section > ul > li > div {
    display: flex;
    justify-content: center;
    width: 10rem;
}
#product.search > section > ul > li > div > button, #product.search > section > ul > li > div > a {
    all: unset;
    opacity: 0.3;
    padding: 0 5px;
    transition-duration: 0.3s;
}
#product.search > section > ul > li > div > button:hover, #product.search > section > ul > li > div > a:hover {
    opacity: 1;
    color: var(--base-color);
}
#product.search > section > ul > li > div > button > i, #product.search > section > ul > li > div > a > i {
    font-size: 1.3rem;
}
#product.search > section > ul > li > h4 {
    flex-grow: 1;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}
#product.search > section > button {
    all: unset;
    margin: 0 auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.5;
    transition-duration: 0.3s;
    cursor: pointer;
}
#product.search > section > button:hover {
    opacity: 1.0;
}
