@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoT.woff2') format('woff2');
	font-weight: 100;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoUL.woff2') format('woff2');
	font-weight: 200;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoL.woff2') format('woff2');
	font-weight: 300;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoR.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoM.woff2') format('woff2');
	font-weight: 500;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoSB.woff2') format('woff2');
	font-weight: 600;
}
@font-face {
	font-family: 'AppleSDGothicNeo';   
	src: url('AppleSDGothicNeoB.woff2') format('woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoEB.woff2') format('woff2');
	font-weight: 800;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('AppleSDGothicNeoH.woff2') format('woff2');
	font-weight: 900;
}