#init > .step5-wrapper > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#init > .step5-wrapper > article > div.loader-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1.0;
    transition-duration: 0.5s;
    height: 15rem;
}
#init > .step5-wrapper > article > div.loader-frame.off {
    opacity: 0.0;
}

#init > .step5-wrapper > article > div.loader-frame > .loader {
    margin: 3rem 0 1rem 0;
    padding: 1.5rem;
    border: 2px solid var(--base-color);
    border-top: 2px solid #00000000;
}
