.ad-setting-component {
   display: flex;
   margin-top: 3rem;
}
.ad-setting-component > * {
    width: 100%;
    padding-right: 2rem;
}
.ad-setting-component > div.input-wrapper > ul {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 1rem;
    margin-bottom: 1rem;
}
.ad-setting-component > div.input-wrapper > ul > li > .input-frame {
    display: flex;
    align-content: center;
    margin-top: 1rem;
}
.ad-setting-component > div.input-wrapper > ul > li > .input-frame > input {
    all: unset;
    text-align: right;
    font-size: 1.1rem;   
    padding-top: 0.3rem;
    width: 100%;
    border-bottom: 1px solid #888888;
}
.ad-setting-component > div.input-wrapper > ul > li > .input-frame > p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.ad-setting-component > div.input-wrapper > ul > li > .caution {
    margin-top: 0.5rem;
}
.ad-setting-component > div.input-wrapper > ul > li > .caution > h4 {
    color: #dd1818;
}
.ad-setting-component > article {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #dbdbdb;
    padding-left: 2rem;
}
.ad-setting-component > article > .title {
    margin-bottom: 0.5rem;
}
.ad-setting-component > article > ul > li {
    margin-bottom: 1rem;
}
.ad-setting-component h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.ad-setting-component h3 > span {
    background-color: #00966B;
    padding: 0.2rem;
    margin-right: 0.5rem;
}
