section#account-main {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section#account-main > .title {
    padding: 1rem 0 0.5rem 0;
}
section#account-main > .title > h1 {
    font-size: 3.0rem;
    
}
section#account-main > .info-wrapper {
    width: 35rem;
}
section#account-main > .info-wrapper > div {
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
section#account-main > .info-wrapper > div > h2 {
    flex-grow: 1;
    padding-right: 2rem;    
}
section#account-main > .info-wrapper.on > div > i {
    transform: rotate(180deg);
}
section#account-main > .info-wrapper > ul {
    display: none;
    margin-bottom: 1rem;
}
section#account-main > .info-wrapper > ul > li {
    margin-bottom: 0.2rem;
}
section#account-main > .info-wrapper.on > ul {
    display: block;
}